@import "../less/common";

.contain{
  background-color: #101010;
  .topContain{
    position: relative;
    width: 100%;
    padding: 1.6rem 0 0.533rem;
    background: url("../images/topBack.png") top center;
    .productImg{
      width: 8.35rem;
      margin: 0 auto;
    }
    >img{
      position: absolute;
      top: 0.667rem;
      left: 0.4rem;
      width: 1.733rem;
      height: 0.293rem;
    }
    .levelImg{
      text-align: right;
      img{
        margin-top: 0.48rem;
        margin-right: 0.8rem;
      }
    }
  }
  .titleText{
    margin: 0 auto -0.04rem;
    text-align: center;
    h1,p,span{
      display: inline-block;
    }
    h1{
      font-size: 0.373rem;
      color: rgb(217,175,84);
    }
    p{
      font-size: 0.347rem;
      color: rgb(255,255,255);
    }
    span{
      font-size: 0.24rem;
      color: rgb(230,230,230);
    }
    .littleLine{
      width: 2.67rem;
      height: 0.08rem;
      margin: 0.16rem auto 0;
      background-color: rgb(217,175,84);
    }
  }
  .midContain{
    padding-top: 0.187rem;
    margin: 0 0.4rem;
    border-top: 2px solid #bdbdbd;
    border-bottom: 2px solid #bdbdbd;
    >h1 {
      text-align: center;
      font-size: 0.24rem;
      color: rgba(230,230,230,1);
    }
    ul{
      margin-left: 0.347rem;
      li{
        position: relative;
        padding-bottom: 0.64rem;
        h1,h2,h3{
          display: inline-block;
        }
        h1{
          font-size: 0.347rem;
          color: rgb(217,175,84);
        }
        h2{
          font-size: 0.213rem;
          color: rgb(217,175,84);
        }
        h3{
          position: absolute;
          left: 2.347rem;
          font-size: 0.347rem;
          color: rgb(255,255,255);
        }
      }
    }
  }
  .footContain{
    margin: 0.933rem 0.5rem 0 0.98rem;
    padding-bottom: 1.067rem;
    ul{
      li{
        margin-bottom: 0.667rem;
        list-style-type: disc;
        color: rgb(217,175,84);
        h1{
          font-size: 0.373rem;
          color: rgb(217,175,84);
        }
        p{
          margin-top: 0.12rem;
          line-height: 0.4rem;
          font-size: 0.293rem;
          color: rgb(229,229,229);
        }
      }
    }
  }
}