@import "common";

.report{
  background-color: #f2f6f9;
}
.bigCircle{
  width: 100%;
  height: auto;
  padding-top: @30;
  text-align: center;
  img{
    display: inline-block;
    width: auto;
    height: 2.98rem;
  }
}
#userInfo{
  width: 98%;
  padding-left: 2%;
  margin: 0 auto;
  ul{
    overflow: hidden;
    li{
      float: left;
      width: 20%;
      height: 2.1rem;
      padding-bottom: @30;
      margin-left: 3.5%;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      img{
        display: inline-block;
        width: @70;
        height: @70;
        margin-top: 0.123rem;
        margin-bottom: 0.05rem;
      }
      span{
        display: inline-block;
        vertical-align: bottom;
        font-family: CN;
        font-weight: bold;
        font-size: @80;
        color: #5a6676;
        letter-spacing: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      i{
        display: inline-block;
        vertical-align: bottom;
        font-style: normal;
        font-size: @32;
        color: #8795a3;
      }
      p{
        padding-top: 0.05rem;
        font-size: @32;
        color: #8795a3;
        border-top: 1px solid #8fa0af;
      }
    }
    .shape{
      position: relative;
      div{
        position: absolute;
        width: 100%;
        bottom: 1.38rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        span{
          font-family: "Microsoft YaHei";
          font-size: 0.6rem;
          color: #8795a3;
        }
      }
      p{
        position: absolute;
        width: 100%;
        bottom: 0.72rem;
      }
    }
  }
}

.chart{
  width: 93%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  box-shadow: 0 5px 5px #eee;
  overflow: hidden;
  .top{
    overflow: hidden;
    padding: 0.3rem 0.25rem;
    border-bottom: 1px solid #e1e1e1;
    >div{
      float: left;
    }
    .BMI{
      width: 16%;
      height: auto;
      img{
        display: block;
        width: 100%;
        height: auto;
      }
      p{
        text-align: center;
        font: 0.43rem CN;
        color: #8fa0af;
        letter-spacing: 3px;
      }
    }
    #BMI{
      margin-left: @40;
      width: 77%;
    }
  }
}

.other{
  overflow: hidden;
}
#left{
  float: left;
  width: 50%;
}
#right{
  float: left;
  width: 49.5%;
  border-left: 1px solid #e1e1e1;
}

.bed,.shop{
  width: 100%;
  text-align: center;
  >span{
    display: inline-block;
    vertical-align: middle;
    color: #74a0ef;
  }
  img{
    display: inline-block;
    vertical-align: middle;
    width: @50;
    height: @50;
    margin: 0 @20;
  }
  p{
    margin-top: @10;
    font-weight: normal;
    font-size: @28;
    color: #74a0ef;
  }
}
.bed{
  padding: @40 0 @80;
}
.shop{
  padding: @40 0 @30;
}

.product{
  position: relative;
  padding: 1.35rem 0.5rem 0.5rem;
  background-color: #fff;
  img{
    width: 100%;
    height: auto;
  }
  .module{
    position: absolute;
    left: 30%;
    top: -0.6rem;
    width: 4rem;
    height: 1.5rem;
    text-align: center;
    background: url("../images/9-name.png")no-repeat center;
    background-size: 100% 100%;
    p{
      width: 70%;
      height: 1.1rem;
      margin: 0 auto;
      font: @70 CN;
      color: #5a6676;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
#next{
  position: absolute;
  right: @30;
  bottom: @30;
  width: 2.13rem;
  height: 0.53rem;
  line-height: 0.53rem;
  text-align: center;
  border-radius: 0.26rem;
  background-color: #74c8ef;
  color: #fff;
}
