<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>慕思睡眠测试系统</title>
</head>
<body>
    <div class="detail">
        <div class="product">
            <img src="../images/4-foot.png" alt="">
        </div>

        <div class="info">
            <div class="head">
                <div class="left">
                    DR-1033
                </div>
                <div class="right">
                    <h1>￥22440</h1>
                    <p>规格：180cm*200cm*30cm</p>
                </div>
            </div>
        </div>
        <div class="scroll">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../images/4-foot.png" alt="">
                        <p>高档梭织面料</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="../images/4-foot.png" alt="">
                        <p>天然羊毛</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="../images/4-foot.png" alt="">
                        <p>天然羊毛弹簧</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="../images/4-foot.png" alt="">
                        <p>乳胶乳胶</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="word">
            <p>
                金属材料是指金属元素或以金属元素为主构成的具有金属特性的材料的统称。
                包括纯金属、合金、金属材料金属间化合物和特种金属材料等。
                许多机械零件和工程构件，是承受交变载荷工作的。在交变载荷的作用下，
                虽然应力水平低于材料的屈服极限，但经过长时间的应力反复循环作用以后，
                也会发生突然脆性断裂。
            </p>
        </div>
    </div>
</body>
</html>