<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>慕思睡眠测试系统</title>
</head>
<body>
    <div class="height">
        <div class="numStable">
            <div class="num">
                <p>03</p>
            </div>
            <div class="describe">
                <h1>身高</h1>
                <span>Height</span>
            </div>
        </div>
        <img src="../images/3-body.png" alt="">
        <div class="word">
            <p>测量方法： 赤脚两脚并拢站直，背靠墙站立，从头顶部到地面的高度即为我们需要的身高。</p>
            <div class="bodyH">
                <span>身高：</span>
                <input id="bodyH" type="number" placeholder="70~230">
                <span>cm</span>
            </div>
        </div>
        <div class="decoration">
            <span>-----------------------</span>
        </div>
    </div>
</body>
</html>