<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>慕思睡眠测试系统</title>
</head>
<body>
    <div class="male">
        <div class="numStable">
            <div class="num">
                <p>01</p>
            </div>
            <div class="describe">
                <h1>体型</h1>
                <span>Body shape</span>
            </div>
        </div>

        <div id="choseBody">
            <h1>请选择您的体型</h1>
            <!-- 插入all body -->
        </div>

        <div class="decoration">
            <span>-----------------------</span>
        </div>

        <div class="numStable">
            <div class="num">
                <p>02</p>
            </div>
            <div class="describe">
                <h1>年龄</h1>
                <span>Age</span>
            </div>
            <div class="age">
                <span>年龄：</span>
                <input id="age" type="number">
                <span>岁</span>
            </div>
        </div>

        <div id="footer"></div>

    </div>

<script src="/assets/commons.js"></script>
<script src="/assets/male.bundle.js"></script>
</body>
</html>