<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>慕思睡眠测试系统1</title>
</head>
<body>
    <div class="report">
        <div class="bigCircle">
            <img src="../images/9-testreport.png" alt="">
        </div>

        <div id="userInfo">
            <ul>
                <li class="userImg">
                    <img id="userImg">
                    <span></span>
                    <p>性别</p>
                </li>
                <li class="shape">
                    <span></span><i>形</i>
                    <p>体型</p>
                </li>
                <li class="age">
                    <span></span><i>岁</i>
                    <p>年龄</p>
                </li>
                <li class="height">
                    <span></span><i>cm</i>
                    <p>身高</p>
                </li>
                <li class="weight">
                    <span></span><i>kg</i>
                    <p>体重</p>
                </li>
                <li class="shoulder">
                    <span></span><i>cm</i>
                    <p>肩宽</p>
                </li>
                <li class="waistline">
                    <span></span><i>cm</i>
                    <p>腰围</p>
                </li>
                <li class="hipline">
                    <span></span><i>cm</i>
                    <p>臀围</p>
                </li>
            </ul>
        </div>

        <div class="chart">
            <div class="top">
                <div class="BMI">
                    <img src="../images/9-board.png" alt="">
                    <p>BMI</p>
                </div>
                <div id="BMI">

                </div>
            </div>
            <div class="other">
                <div id="left">

                </div>
                <div id="right">

                </div>
            </div>
        </div>
    </div>
</body>
</html>