<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>慕思睡眠测试系统</title>
</head>
<body>
    <div class="waistline">
        <div class="numStable">
            <div class="num">
                <p>06</p>
            </div>
            <div class="describe">
                <h1>腰围</h1>
                <span>Waistline</span>
            </div>
        </div>
        <div class="main">
            <div class="word">
                <p>测量方法：双脚并拢站直，两臂自然下垂，不要收腹，呼吸保持平稳，皮尺围绕腰最细的部位（髋骨上，肋骨下最窄的部位），水平测量一周，让皮尺和身体之间有一个手指的位置，量出的尺寸即为腰围尺寸。</p>
                <div class="waistlineW">
                    <span>腰围：</span>
                    <input id="waistlineW" type="number">
                    <span>cm</span>
                </div>
            </div>
            <div class="img"><img src="../images/6-pic.png" alt=""></div>
        </div>
        <div class="decoration">
            <span>-----------------------</span>
        </div>
    </div>
</body>
</html>