<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>慕思睡眠测试系统</title>
</head>
<body>
    <div class="weight">
        <div class="numStable">
            <div class="num">
                <p>04</p>
            </div>
            <div class="describe">
                <h1>体重</h1>
                <span>Weight</span>
            </div>
        </div>

        <div class="time">
            <div class="title">
                <img src="../images/4-timeok.png" alt=""><span>最佳测量时间</span>
            </div>
            <p>起床后、睡觉前、三餐后至少一个小时。</p>
        </div>

        <div class="decoration">
            <span>-----------------------</span>
        </div>

        <div class="main">
            <div class="img"><img src="../images/4-foot.png" alt=""></div>
            <div class="word">
                <ul>
                    <li>赤脚、只穿轻薄衣物</li>
                    <li>坚硬、平坦的地方</li>
                    <li>以中心为圆点，两脚自然分布两侧</li>
                </ul>
                <div class="bodyW">
                    <span>体重：</span>
                    <input id="bodyW" type="number">
                    <span>kg</span>
                </div>
            </div>
        </div>

        <div class="warning">
            <div class="head">
                <img src="../images/4-no.png" alt=""><span>以下情况请尽量避免称重</span>
            </div>
            <ul>
                <li><img src="../images/4-icon1.png" alt=""><span>剧烈运动后</span></li>
                <li><img src="../images/4-icon2.png" alt=""><span>沐浴或桑拿后</span></li>
                <li><img src="../images/4-icon3.png" alt=""><span>暴饮暴食后</span></li>
                <li><img src="../images/4-icon4.png" alt=""><span>发烧中后</span></li>
                <li><img src="../images/4-icon5.png" alt=""><span>大量饮酒后</span></li>
                <li><img src="../images/4-icon6.png" alt=""><span>过度饮酒后</span></li>
            </ul>
        </div>

        <div id="footer"></div>
    </div>

<script src="/assets/commons.js"></script>
<script src="/assets/weight.bundle.js"></script>
</body>
</html>